# Mac
.DS_Store

# Node
node_modules/
npm-debug.log

# Project
build/
www/node_modules/
installers/osx64/*.zip
installers/win32/*.zip
res/installers/osx/license.txt
res/installers/win/license.txt
sign-config.json

# Node WebKit
cache/
