#app {
  background-color: #dfe2e2;
}

.container {
    width: 450px; 
    height: 550px; 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.sidebar {
    background-color: rgb(45,48,51);
    height: 100%;
}

.sidebar-bottom {
    background-color: rgb(45,48,51);
    height: 50px;
}

.sidebarbutton {
    color: rgb(45,48,51);
    background-color: rgba(45,48,51,0);
    border: none;
    padding-top: 15px;
    cursor: pointer;
}

.sidebarbutton:hover {
    background-color: rgba(31,35,38,0);
}

.sidebar-button-holder {
    background-color: rgb(45,48,51);
    padding-bottom: 10px;
    cursor: pointer;
}

.sidebar-button-holder:hover {
    background-color: rgb(31,35,38);
}

.sidebar-button-active {
    background-color: rgb(31,35,38);
}

.sidebar-button-inactive {
    background-color: #43474b;
    color: #43474b;
    border: none;
    padding-top: 15px;
    cursor: inherit;
}

.sidebar-button-holder-inactive {
    background-color: #43474b;
    padding-bottom: 10px;
    cursor: auto;
}

.remove-notification {
    width: 375px;
    height: 80px;
    color: white;
    background-color: rgb(255,50,0);
    top: 470px;
    left: 75px;
    position: absolute;
}

.status-field {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    color: white;
    background-color: rgb(153,153,153);
}

.dropzone {
    width: 100%;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

.create-overlay {
    background-color: rgb(31,35,38);
    color: white;
    position: fixed; 
    top: 0px; 
    left: 75px; 
    z-index: 12;
    width: 375px;
}

.new-project-overlay {
    background-color: rgb(31,35,38);
    color: white;
    position: fixed; 
    top: 0px; 
    left: 75px; 
    z-index: 12;
    width: 375px;
    height: 435px;
}

.overlay-form-item-heading {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 11pt;
}

.overlay-form-item {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.overlay-form-item-description {
    color: rgb(153,153,153);
    font-size: small;
}

.new-project-choose-button {
    background-color: rgb(27,161,199);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 11pt;
    height: 30px;
    width: 100px;
    float: right;
}

.new-project-choose-button:hover {
    background-color: rgb(19,69,144);
}

.server-log-overlay {
    background-color: rgb(31,35,38);
    color: white;
    position: fixed; 
    top: 0px; 
    left: 75px; 
    z-index: 12;
    width: 375px;
    height: 600px;
}

.action-button {
    background-color: rgb(33,170,72);
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    float: right;
    font-size: 11pt;
}

.action-button:hover {
    background-color: rgb(0,126,32);
}

.dotted-hr {
    border: 0px;
    border-bottom: 1px dashed rgb(97,101,105);
    height: 0px;
    padding: 0px 0px 0px 0px;
}

.create-project-button {
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 15px;
    cursor: pointer;
    font-size: 11pt;
}

.open-project-button {
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 15px;
    cursor: pointer;
    font-size: 11pt;
}

.create-project-button:hover {
    color: #40afd4;
}

.open-project-button:hover {
    color: #40afd4;
}

.settings-overlay {
    background-color: rgb(31,35,38);
    color: white;
    position: fixed; 
    top: 0px; 
    left: 75px; 
    z-index: 12;
    width: 375px;
    height: 255px;
}

.settings-ip-label {
    color: rgb(153,153,153);
    padding-right: 10px;
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox-label {
    color: white;
    padding-left: 10px;
}

.widget-border {
    border-bottom: 1px solid #dfe2e2;
    background-color: #e8e9e9;
    padding: 0px 20px 0px 0px;
}

.widget-offline {
    width: 5px;
}

.widget-online {
    background-color: rgb(43,169,77);
}

.delete-button {
    padding-top: 22px;
    padding-left: 22px;
}

.project-details-column {
    width: 210px;
    padding-top: 20px;
    padding-left: 10px;
}

.project-indicator {
    width: 46px;
    text-align: center;
    padding-top: 20px;
}

.project-icon-column {
    padding-left: 15px;
    padding-top: 20px;
}

.project-folder-column {
    padding-left: 15px;
    padding-bottom: 20px;
}

.project-name {
    color: rgb(45,48,51);
    font-size: 14pt;
    font-weight: 600;
    max-height: 50px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-version {
    color: rgb(45,48,51);
    font-size: 12pt;
    font-weight: 200;
    max-height: 25px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-holder {
    background-color: rgb(255,50,0);
    cursor: pointer;
}

.delete-holder:hover {
    background-color: #dd310b;
}

.topcoat-checkbox:hover {
    cursor: pointer;
}

.localPath {
    max-width: 335px; 
    font-size: 10pt;
    color: rgb(153,153,153);
}

.projDir {
    max-width: 335px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    text-align: left;
    font-size: 10pt;
}

.projectDirLink {
    color: #27a1c5;
}

a.projectDirLink:hover {
    color: #17478e;
    cursor: pointer;
}

.hr-icon {
    width: inherit;
    opacity: 0.0;
    padding-bottom: 6px;
}

.stop-icon {
    opacity: 0.0;
}

.stop-icon-active {
    cursor:pointer;
}

.start-icon {
    padding-top: 10px;
    cursor: pointer;
}

.text-input {
    height: 24px;
    font-size: 16px;
}