#app {
  background-color: rgba(255, 255, 255, 1.0);
}

.status-field {
  position: absolute;
  width: 350px;
  height: 50px;
  left: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 20px;
  color: white;
  background-color: rgb(43,169,77);

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    background-image: url(img/status-offline.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    display: table-cell;
    height: 50px;
    padding-left: 20px;
    vertical-align: middle;
  }

  input[type="checkbox"]:checked + label {
    background-image: url(img/status-online.png);
  }
}

.dropzone {
    width: 100%;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

.projDir {
    width: 280px; 
    overflow: ellipsis; 
    white-space: nowrap; 
    direction: rtl; 
    text-align: left;
}

.arrow-down {
    -webkit-transform: rotate(45deg); 
    box-shadow: 5px 0px 0px 0px #6D6D6D; 
    background-color: transparent; 
    line-height: 16px; 
    width: 16px; 
    left: 17px; 
    bottom: 37px; 
    position: fixed; 
    z-index: 12;       
}

.triangle {
    width: 0; 
    height: 0; 
    border-right: 16px solid #e5e9e8; 
    border-top: 16px solid transparent;        
}

.create-overlay {
    box-shadow: 5px 5px 0px 0px #6D6D6D; 
    position: fixed; 
    bottom: 44px; 
    left: 5px; 
    z-index: 12;
}

.widget {
    display: table; 
    border-bottom: 1px solid black; 
    width: 100%; 
    height: 95px;
}

.widget-row {
    display: table-row;
}

.widget-column {
    display: table-cell;
}

.widget-column-left {
    float:left;
}

.widget-status-field {
  float: right;
  height: 30px;
  padding: 5px 0px 0px 5px;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    background-image: url(img/status-offline.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    display: table-cell;
    height: 20px;
    padding-left: 20px;
    vertical-align: middle;
  }

  input[type="checkbox"]:checked + label {
    background-image: url(img/status-online.png);
  }
}

.widget-project-details {
    float:left; 
    height: 100%;
}