#app {
  background-color: #e9e9e9;
}
.container {
  width: 450px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sidebar {
  background-color: #2d3033;
  height: 100%;
}
.sidebar-bottom {
  background-color: #2d3033;
  height: 50px;
}
.sidebarbutton {
  color: #2d3033;
  background-color: #2d3033;
  border: none;
  padding-top: 15px;
}
.status-field {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
  color: white;
  background-color: #999999;
}
.dropzone {
  width: 100%;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
}
.localPath {
  width: 370px;
  font-size: small;
  color: #999999;
}
.projDir {
  width: 370px;
  overflow-x: hidden;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
  font-size: small;
}
.arrow-down {
  -webkit-transform: rotate(45deg);
  box-shadow: 5px 0px 0px 0px #6D6D6D;
  background-color: transparent;
  line-height: 16px;
  width: 16px;
  left: 17px;
  bottom: 37px;
  position: fixed;
  z-index: 12;
}
.triangle {
  width: 0;
  height: 0;
  border-right: 16px solid #e5e9e8;
  border-top: 16px solid transparent;
}
.create-overlay {
  box-shadow: 5px 5px 0px 0px #6D6D6D;
  position: fixed;
  bottom: 44px;
  left: 5px;
  z-index: 12;
}
.widget-border {
  border-bottom: 1px solid #999999;
}
a.projectDirLink:hover {
  color: #134590;
}
.hr-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.0;
}
.stop-icon {
  opacity: 0.0;
}
.start-icon {
  padding-top: 10px;
}
