#app {
  background-color: #ffffff;
}
article {
  background-image: url(../img/guide-add.png);
  background-position: 2px 100%;
  background-repeat: no-repeat;
  background-size: 297px 180px;
  bottom: 30px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}
footer {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px #9daca9;
  bottom: 0px;
  height: 29px;
  left: 0px;
  position: fixed;
  right: 0px;
}
footer nav.left {
  position: absolute;
  top: 0px;
  left: 0px;
}
footer nav.right {
  position: absolute;
  top: 0px;
  right: 0px;
}
footer #app-action-bar {
  float: left;
}
footer #server-status-bar {
  float: left;
}
footer .topcoat-button-bar .topcoat-button-bar__item:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
footer .topcoat-button-bar .topcoat-button-bar__item:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
footer .topcoat-button-bar .topcoat-icon--large {
  top: 0px;
}
.status-field {
  float: left;
  height: 30px;
  padding: 5px 0px 0px 5px;
}
.status-field input[type="checkbox"] {
  display: none;
}
.status-field input[type="checkbox"] + label {
  background-image: url(img/status-offline.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  display: table-cell;
  height: 20px;
  padding-left: 20px;
  vertical-align: middle;
}
.status-field input[type="checkbox"]:checked + label {
  background-image: url(img/status-online.png);
}
.dropzone {
  width: 100%;
  height: 546px;
  overflow-x: hidden;
  overflow-y: auto;
}
.projHeader {
  height: 25px;
  border-bottom: 1px solid black;
}
.projDir {
  width: 340px;
  overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
}
.arrow-down {
  -webkit-transform: rotate(45deg);
  box-shadow: 5px 0px 0px 0px #6D6D6D;
  background-color: transparent;
  line-height: 16px;
  width: 16px;
  left: 17px;
  bottom: 37px;
  position: fixed;
  z-index: 12;
}
.triangle {
  width: 0;
  height: 0;
  border-right: 16px solid #e5e9e8;
  border-top: 16px solid transparent;
}
.create-overlay {
  box-shadow: 5px 5px 0px 0px #6D6D6D;
  position: fixed;
  bottom: 44px;
  left: 5px;
  z-index: 12;
}
