/**
Sourced from http://projects.lukehaas.me/css-loaders/

modified:

.loader class by:
-removing font-size, margin, text-indent
-changed width, height, color code used in background, position set to absolute
-added top & left

.loader:before
-changed background color

.loader:after
-changed background color
*/
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #27a1c5;
  background: -moz-linear-gradient(left, #27a1c5 10%, rgba(0,84,255, 0) 42%);
  background: -webkit-linear-gradient(left, #27a1c5 10%, rgba(0,84,255, 0) 42%);
  background: -o-linear-gradient(left, #27a1c5 10%, rgba(0,84,255, 0) 42%);
  background: -ms-linear-gradient(left, #27a1c5 10%, rgba(0,84,255, 0) 42%);
  background: linear-gradient(to right, #27a1c5 10%, rgba(0,84,255, 0) 42%);
  position: absolute;
  left: 162px;
  top: 270px;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #27a1c5;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: rgb(204,204,204);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
