.topcoat-overlay-large {
    padding:0;
    margin:0;
    font:inherit;
    color:inherit;
    background:transparent;
    border:0;
    cursor:default;
    user-select:none;
    box-sizing:border-box;
    background-clip:padding-box;
    overflow:hidden;
    position:absolute;
    padding:20px 10px;
    border-radius:6px;
    background-color:#e5e9e8;
    border:1px solid #a5a8a8;
    width:100%;
	height:550px;
    text-align:center;
    z-index:10;
}

.topcoat-overlay-bg-grey {
	position:absolute;
	left: 75px;
	width: 550px;
	height:100%;
	background-color:rgb(204,204,204);
	z-index:5;
	opacity: 0.75;
}

.topcoat-overlay-bottom {
	padding:0;
	margin:0;
	font:inherit;
	color:inherit;
	background:transparent;
	border:0;
	cursor:default;
	user-select:none;
	box-sizing:border-box;
	background-clip:padding-box;
	overflow:hidden;
	position:absolute;
	left:50%;
	bottom: 34px;
	padding:20px 10px;
	border-radius:6px;
	background-color:#e5e9e8;
	border:1px solid #a5a8a8;
	width:60%;
	margin-left:-30%;
	text-align:center;
	z-index:10;
}